@foreach (var article in ViewData["favourites"] as List<Article>)
{
    <li class="todo-done">
        <a class="todo-icon fui-heart" onclick="removeFavourite(@article.ID)"></a>
        <a class="todo-content" href="@article.WebsiteUrl" target="_blank">
            <h4 class="todo-name text-ellipsis">
                <a href="#" data-toggle="tooltip" title="@article.Title">@article.Title</a>
            </h4>
            @article.WebsiteName
        </a>
    </li>
}